.back {
  @apply fixed top-24 left-12 text-white font-bold text-xl border border-black px-8 py-2 bg-black hover:border-white;
  font-family: "Bangers", sans-serif;
}

@media (max-width: 600px) {
  .back {
    @apply text-lg px-8 py-2 relative ml-[-5rem] mt-0;
  }
}

/* .back {
  position: fixed;
  top: 6rem;
  left: 3rem;
  color: white;
  font-family: "Bangers", sans-serif;
  font-size: 1.7rem;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  background-color: black;
}

.back:hover {
  border: 1px solid white;
}

@media (max-width: 600px) {
  .back {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    position: relative;
    margin-left: -5rem;
    margin-top: 0rem;
  }
} */
