.demo_btn {
  outline: none;
  border: none;
  margin-left: 42.5%;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.9);
  color: rgb(255, 255, 255);
  width: 15%;
  padding: 10px 0;
  cursor: pointer;
  font-size: 3rem;
  font-family: "Bangers", sans-serif;
  transition: 0.2s;
  border-radius: 0px;
}
